* {
    box-sizing: border-box;
    margin: 0;
}

body {

    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.44;
    letter-spacing: -0.2px;
    color: #484a4c;
}

h1 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.256875;
    color: #134880;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto; /* horizontal */
    max-width: 940px;
    padding: 40px 0;
}

.frameText {
    display: flex;
    height: 80%;
    width: 120%;
}

.wrapper {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 740px; /*70%;*/
}

.images1,
.images2 {
    display: flex;
    justify-content: flex-end;
    transition-timing-function: ease;
    transition-duration: .3s
}

.images2 {
    margin-right: 159px;
    position: relative
}

.images1 img,
.images2 img {
    max-height: 200px;
    margin: 0 10px 10px 0;
    display: block;
    border-radius: 5px
}

.images1 img:last-child,
.images2 img:last-child {
    position: absolute;
    top: 0;
    left: 100%
}

.slider-actions {

    position: relative;
    left:570px; /*680px;*/
    top: -210px;
    height: 100%;
    background-color: #fff;
    width: 170px;
}


.slider-actions button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #134881;
    color: #134881;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0;
    left: 60%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: border-color .3s ease, transform .3s ease;

}

.slider-actions button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
    transition: left .3s ease;

}


.slider-actions button span:nth-child(2) {
    position: absolute;
    left: 100%;

}

.slider-actions button:hover {
    border-color: #ddd
}

.slider-actions button:hover span:nth-child(2) {
    left: 0
}

.slider-actions button:hover span:nth-child(1) {
    left: -100%;
}

.textbox {
    position: relative;
    z-index: 1;
    width: 250px; /*20%;*/
    padding-left: 9.5px;
    padding-right: 9.5px;
}

.text {
    padding-left: 9px;
}

.footer {
    height: 100px;
    background-color: #ddd;
    border-radius: 10px;
}

.header {
    border-radius: 10px;
    height: 100px;
    background-color: #ddd;
 
}